body { 
    margin: 0 auto;
    line-height: 1.7em; font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
.container{
    display: block;
}

nav{
    float: right;
    border: 2px;
    color: grey;
    margin-right: 100px;
}

i{  
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    color: white;
    background-color: #D3D3D3;
}

img{
    z-index: -1;
    margin-top: 70px;
    position: fixed;
}

img:nth-of-type(2){
    width: 400px;
    padding-top: 300px;
    padding-left: 700px;
}
.items{
    width: 500px;
    padding-top: 600px;
    padding-left: 600px;

}
ul li{
    display: inline;
    margin-right: 10px;
}