body { line-height: 1.7em; font-family: 'Roboto', sans-serif; }

.container{
    margin: 0 auto;
}

nav{
    border: 5px;
    color: grey;
    float: right;
    margin-right: 50px;
    font-size: 40px;
}
